body{
    font-family: 'Roboto', sans-serif;
    background-color: #5a6063;
    background-image: url("https://th.bing.com/th/id/OIP.GdOeXud_LXt6KXUm2qcAjQHaEC?w=302&h=180&c=7&o=5&dpr=1.25&pid=1.7");
    background-repeat: no-repeat, repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    /* background-filter: blur(8px);
    -webkit-filter: blur(8px); */
}
.add{
    /* position: absolute; 
    left: 25%; top: 30%;
    transform: translatex(-50%);  */
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 2;
  width: 100%;
  /* padding: 10px; */
  text-align: center;  
}
.imag{
    width: 10%;
  height: auto;
}

/* navbar css starts here  */
.bg-light{
    background-color: #f8f4f8ef!important;
}

.navbar-brand{
    font-family: 'Abadi MT Condensed Light', cursive;
    font-size: 1.5rem;
    color: #1a6fd6!important;
    /* text-align: justify , -webkit-right; */
}
.navbar-nav.navbar-center { 
    position: absolute; 
    left: 60%; 
    transform: translatex(-50%); 
} 

.nav-link{
    color: #5f6368!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(8, 42, 75)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}