html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f7f4f4;
}

/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4eff2 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
    background-color: #f8f4f8ef!important; 
    /* background-image: url(img_flwr.gif), url(paper.gif); */

}
.navbar-nav.navbar-center { 
    position: absolute; 
    left: 60%; 
    transform: translatex(-50%); 
} 
.navbar-brand{
    font-family: 'Abadi MT Condensed Light', cursive;
    font-size: 1.5rem;
    color: #010b16!important;
}

.nav-link{
    color: #01060e!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #1f74db;
}

/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 100vh;
    /* background-color: #01060c; */
    /* color: #ffffff; */
    padding: 3rem;
    background-image: url("https://static.coindesk.com/wp-content/uploads/2013/12/indian-ministry-of-finance-860x430.jpg") ;
    background-repeat: no-repeat, repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    /* background-filter: blur(8px);
    -webkit-filter: blur(8px); */
    margin-bottom: 1vh;
}

.b-img{
    height: 70vh;
    width: 100%;
}

@media only screen and (max-width: 766px) {
    .b-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: rgb(57, 185, 207);
    color: #0c3246!important;
    transition: 0.3s;
}
.add{
    position: absolute; 
    left: 25%; top: 30%;
    transform: translatex(-50%); 
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;  
}
.get-started:hover{
    text-decoration: none;
    background-color: #bfdff0;
    
}
/* here content css starts here  */

/* get-started-buttons css starts here*/
.get-started-content{
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;
    color: #fff!important;
    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #017ab6;
    text-decoration: none;
}
/* get-started-buttons css end here*/

/* footer css starts here */
footer{
    background-color:  #f2e9e4;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #24292e;
}

.linkedin{
    color: #0077b5;
}

.google{
    color: #D44638;
}
/* footer css ends here  */
.imag{
    width: 10%;
  height: auto;
}